.navbar {
  padding: 14px 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray-background);
  backdrop-filter: blur(20px);
}

.iconsContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}
.iconContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  height: 24px;
  transition: 100ms;
}

.iconContainer:hover {
  transform: translateY(-4px);
}

.iconContainer:hover .iconSpan {
  transform: translateY(0px);
  opacity: 1;
}

.cartBtn {
  position: relative;
  background-color: var(--layer-green);
  width: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 42px;
  border-radius: 4px;
  cursor: pointer;
  padding: 1rem 4rem;
  margin-right: 36px;
  background-color: white;
  border: none;
  transition: 0.2s;
}
.cartBtn:hover {
}
/* .cartBtn .drop {
  position: absolute;
  left: -116%;
  bottom: -220%;
  width: 120%;
  height: 300%;
  border-radius: 50%;
  background-color: var(--light-purple);
  transition: 0.2s;
} */
/* .cartBtn:hover .drop {
  left: -10%;
  bottom: -80%;
} */
.cartBtn span {
  font-weight: 600;
  font-size: 24px;
  color: black;
}

.cartBtn > * {
  transition: all 0.2s;
}

.buttonsContainer {
  display: flex;
}
.badge {
  position: absolute;
  right: -8px;
  top: -8px;
  padding: 0 8px;
  min-width: 24px;
  text-align: center;
  height: 24px;
  background-color: var(--light-purple);
  border-radius: 12px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  overflow: visible;
}

.badge span {
  line-height: 24px;
  color: white;
  font-size: 1rem;
}

.iconWrapper {
  width: 24px;
  height: 24px;
}
.navIcon {
  width: 100%;
  height: auto;
  transition: all 0.4s;
  cursor: pointer;
}

.iconSpan {
  letter-spacing: 0.5px;
  cursor: pointer;
  font-size: 12px;
  opacity: 0;
  color: rgb(196, 196, 196);
  transition: all 0.2s;
  transform: translateY(4px);
  text-align: end;
}
