.productsContainer {
  display: grid;
  justify-content: space-between;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  column-gap: 12px;
  padding: 0 32px;
  align-items: start;
}

.fixedFrame::-webkit-scrollbar {
  width: 12px;
}
.fixedFrame::-webkit-scrollbar-track {
  background: var(--white-background);
}

.fixedFrame::-webkit-scrollbar-thumb {
  background-color: var(--layer-green);
  border: none;
  border-radius: 8px;
}
.resultsInfo {
  padding: 0 32px;
  margin-top: 16px;
  color: rgb(152, 152, 152);
}

@media screen and (max-width: 1200px) {
  .productsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
