.productsContainer {
  display: grid;
  justify-content: space-between;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  column-gap: 12px;
  row-gap: 12px;
  padding: 0 32px;
  padding-top: 4rem;
  align-items: start;
}
.productsContainer > * {
  width: 100%;
}

.fixedFrame::-webkit-scrollbar {
  width: 12px;
}
.fixedFrame::-webkit-scrollbar-track {
  background: var(--white-background);
}

.fixedFrame::-webkit-scrollbar-thumb {
  background-color: var(--layer-green);
  border: none;
  border-radius: 8px;
}
.resultsInfo {
  padding: 0 52px;
  margin: 16px 0px;
  color: rgb(152, 152, 152);
}

@media screen and (max-width: 1200px) {
  .productsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 920px) {
  .productsContainer {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 560px) {
  .resultsInfo {
    padding: 0 1rem;
  }
  .productsContainer {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }
}
