/* .product-card{
    height: 300px;
    width: 200px;
    border: 4px solid yellow;
    position: relative;
}
.product-card__imgBox{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    background-image: url(https://m.bidolubaski.com/sites/default/files/product-image/2022-06/%C3%87elik%20Termos%20Mug3.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.product-card__add-to-cart-btn{
    height: 26px;
    width: 26px;
    border-radius: 13px;
    border-style: none;
    background-color: aqua;
    position: absolute;
    right: -14px;
    bottom: -14px;

} */
    /* *{
    border: 2px solid black;
    } */