.productCard {
  box-shadow: 1px 8px 12px 1px hsl(0, 0%, 93%);
  /* width: 340px; */
  border-radius: 8px;
  border: 2px solid rgb(236, 236, 236);
  transition: all 240ms;
  background-color: white;
}

.productCard:hover {
  box-shadow: 1px 8px 12px 1px hsl(0, 0%, 88%);
}
.imgBox {
  width: 100%;
  height: 160px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.imgBox img {
  height: auto;
  max-width: 100%;
}
.infoContainer {
  padding: 1rem;
  padding-bottom: 1.4rem;
}
.productNameContainer {
  height: 2rem;
  overflow: hidden;
}

.descriptionContainer {
  height: 5rem;
  overflow: scroll;
  overflow: hidden;
}
.descriptionContainer::-webkit-scrollbar {
  width: 0;
}

.productName {
  font-weight: 600;
  font-size: 1.6rem;
  color: black;
}
.brandContainer {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 0.88rem;
}
.brand {
  color: #848484;
}
.descriptionContainer {
  font-size: 0.88rem;
  color: #343434;
  font-weight: 600;
}
.price {
  font-size: 1.77rem;
  color: black;
  font-weight: 700;
}
.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.addBtn {
  position: relative;
  height: 3rem;
  border-radius: 4px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--main-purple);
  transition: all 0.4s;
  cursor: pointer;
}
.addBtn span,
.addBtn svg {
  position: absolute;
  transition: all 0.2s;
}

.addBtn span {
  color: white;
  font-size: 1.08rem;
  font-weight: 600;
}

.addBtn svg {
  opacity: 0;
  right: 25%;
}

.addBtn:hover svg {
  right: 16%;
  opacity: 1;
}
.addBtn:hover span {
  transform: translateX(-20%);
}
.addBtn:hover svg {
  animation-name: move;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 700px) {
  .productCard {
    box-shadow: 1px 8px 12px 1px hsl(0, 0%, 88%);
    border: 1px solid rgb(228, 228, 228);
  }
  .productCard:hover {
    box-shadow: 1px 8px 12px 1px hsl(0, 0%, 88%);
  }
  .addBtn:hover svg {
    right: initial;
    opacity: 0;
  }
  .addBtn:hover span {
    transform: initial;
  }
  .addBtn:hover svg {
    animation: none;
  }
}

@keyframes move {
  0% {
  }
  70% {
    transform: translateX(8px);
  }
}
