.searchForm {
  width: 72%;
  height: 42px;
  display: flex;
  background-color: rgb(239, 239, 239);
  border-radius: 6px;
  padding-left: 12px;
  border: 1px solid rgb(221, 221, 221);
}
.searchInput {
  background-color: inherit;
  border-radius: inherit;
  width: 100%;
  border: none;
  outline-style: none;
  font-size: 16px;
  color: black;
}

.searchInput::placeholder {
  transition: 400ms;
  color: rgb(72, 72, 72);
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
}
.searchInput:focus::placeholder {
  opacity: 0.2;
}

.iconContainer {
  margin-right: 6px;
  height: 100%;
  aspect-ratio: 1;
  padding: 10px;
}
.iconContainer img {
  width: 100%;
  height: auto;
}
